form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
input {
  width: 50%;
  margin: 20px;
}
select {
  width: 50%;
  height: 30px;
  margin-top: 20px;
}
.formcont {
  border: 3px solid black;
  width: 450px;
  margin: 10px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resultDiv {
  margin: 20px  ;
  height: 50px;
  width: 300px;
  background-color: rgb(220, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border: 3px solid black;
}